.headerMenu{
    position: fixed;
    background-color: #8ab454;
    height:1.5cm;
    top:0px;
    z-index:10000000;
    color:white;
}
.headerMenuWrapper{
    padding-left:30px !important;
    margin-right:30px !important;
    width:100vw;
}
.headerMenuPoint{
    line-height:1.5cm;
    float:left;
    cursor:pointer;
    margin-right:30px;
}
.headerMenuPoint:hover{
    color: #70964b;
}
.headerMenuPoint p{
    text-align:center;
}

.burgerMenuHeader{
    height:auto;
    width:100%;
    text-align: center;
    background-color:#fff;
    padding:2%;
    color: #888989;

}
.burgerMenuHeader p {
    margin-top:4%;
    font-weight:bold;
    color:#888989;
    font-size:1.3em;
}
.burgerMenuHeader img{
    margin-top:5%;
    height: 30%;
    width:auto;
    max-height:150px;
    max-width:150px;
}
.burgerMenu{
    position: fixed;
    background-color: #D5E0CC;
    height: 100%;
    width: 80%;
    top: 0px;
    z-index: 1000000000000000;
}
@media only screen and (min-width: 720px) {
    .burgerMenu {
        position: fixed;
        background-color: #D5E0CC;
        height: 100%;
        width: 40%;
        top: 0px;
        z-index: 1000000000000000;
    }
}

.burgerMenuLeftSpecific{
    left: -80%; /*wird bei init geändert, um blitzer zu vermeiden weit weg schieben */
}

.burgerMenuRightSpecific{
    right: -80%;
}

.burgerMenuPointWrapper{
    padding-top: 0.5cm;
}

.burgerMenuPoint{
    margin-top: 0.25cm;
    margin-left: 1cm;
    line-height:1cm;
    height: 1cm;
    font-size:1.2em;
}

.burgerMenuPoint img{
    float: left;
    height: 100%;
}

.burgerMenuPoint p{
    margin-left: 1.5cm;
    color: #fff;
    font-weight: 500;
}

#closeBurgerMenuLeftButton{
    position: relative;
    width: 0.75cm;
    height: 0.75cm;
    left:0.25cm;
    top:0.375cm;
    background-image: url(../icons/close.svg);
    background-size: 100% 100%;
}

#transparentBackground{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    background-color:black;
    opacity: 0;
    pointer-events: none;
}

#searchMenuHeader{
    background-color: #8ab454;
    height: 1.5cm;
    width: 100%;
}

#searchMenuFormWrapper{
    margin: 20px;
}

#suchMenuSuchButton{
    margin: 20px;

}

#closeBurgerMenuRightButton{
    position: relative;
    float: right;
    width: 0.75cm;
    height: 0.75cm;
    right:0.25cm;
    top:0.375cm;
    background-image: url(../icons/open.svg);
    background-size:100% 100%;
}


.menu_background{
  background-color: #8bb554;
}
