.center {
    text-align: center;
    font-size:1.3em;
}
.form-headline{
    font-size:1.8em;
    color:#8ab454;
}
.formularelement{
    background-color: white;
    -webkit-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
}
.eingabefeld{
    border-radius: 15px !important;
    background-color: white !important;
}
.eingabefeldgross{
    border-radius: 15px !important;
    background-color: #ededed !important;
    min-height: 100px !important;
}
.slidebutton{
    margin-top:10px;
    margin-bottom:10px;
    border-bottom: 0.4px solid forestgreen;
    padding-bottom:5px;
    clear:both;
    cursor:pointer;
}
.slidebutton_tag{
    margin-bottom:5px;
}
.slideicon{
    float:right;
}
.vonbis{
    width:48% !important;
    margin-left:2% !important;
    float:left !important;
    clear-after: both;
}
.ausgerichtet{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
}
.jobBild{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    text-align: center;
    display:flex;
    justify-content: center;
    margin-top:15px;
}
.preview{
    width:20%;
    background-color:#d5e1cb;
    border: 1px solid #8ab454;
    overflow:hidden;
}
.preview:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.uploadbutton{
    width:130px;
    heigth:40px;
    background-color: #d5e1cb;
    margin-left:20px;
}
.ausstattungsmerkmale{
    width:100% !important;
    font-size:1.1em;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    text-align: center;
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.linkercontainer{
    text-align: left;
    width:200px;
}
.rechtercontainer{
    text-align: left;
    width:200px;
}
.ausstattungsmerkmale input[type='checkbox']{
    height:20px;
    width:20px;
    background-color:white;
    position: relative;
    vertical-align: middle;
    bottom: 4px;
}
.submitbutton{
    margin-top:2vh;
    background-color: #8ab454;
    color:white;
}

.dropzone{
    width: 100%;
    border: 1px solid black;
    height: 50px;
}
.falschesfeld{
    border-size:2px !important;
    border-color:firebrick !important;
}
.alertmessage{
    color:firebrick;
    font-weight: 200;
    font-size:0.9em;
}
.editdropzone{
    margin-top:20px;
    color: darkgrey;
    min-height:100px !important;
    height:auto !important;
    z-index:10;
    padding:20px;
    border-radius: 15px;
    border-color: #ccc;
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.formauswahlcontainer{
    padding: 30px 15px 30px 15px;
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.formauswahlElement {
    float: left;
    width: 45%;
    height: 200px;
    border: 0.4px solid #d3d3d3;
    border-radius: 30px;
    cursor: pointer;
    min-width:200px;
    margin:15px;
    background-color: ghostwhite;
}
.formauswahlElement img {
    height:70%;
    margin-top:5%;
    padding-bottom: 15%;
}
.formauswahlElement p {
    height:25%;
    font-size:1.2em;
}

@media only screen and (min-width: 720px) {
  .formauswahlElement img{height: 94%!important;}
}
