
*{
    font-family: 'Lato', sans-serif;
}

p{
    overflow: hidden;
}

body {
    background-color:#d5e1cb;
    font-size:18px;

}
img:not([src]){
    visibility: hidden;
}


#openBurgerMenuLeftButton{
    position: relative;
    width: 1.25cm;
    height: 1.25cm;
    top: 0.125cm;
    left: 0.125cm;
    background-image: url("../icons/burgermenu.svg");
    background-size: 100% 100%;
}

#SearchButton{
    position: relative;
    width: 1.25cm;
    height: 1.25cm;
    top: -1.125cm;
    right: 0.125cm;
    float: right;
    background-image: url("../icons/suche.svg");
    background-size: 100% 100%;
}
#Mailbutton{
    position: relative;
    width: 1.25cm;
    height: 1.25cm;
    top: -1.125cm;
    right: 0.125cm;
    float: right;
    background-image: url("../icons/message.svg");
    background-size: 100% 100%;
}
#headerSearchButton{
    position: relative;
    width: 1.25cm;
    height: 1.25cm;
    top:5px;
    right:20px;
    float: right;
    background-image: url("../icons/suche.svg");
    background-size: 100% 100%;
}
#headerMailButton{
    position: relative;
    width: 1.25cm;
    height: 1.25cm;
    top:5px;
    right:20px;
    float: right;
    background-image: url("../icons/message.svg");
    background-size: 100% 100%;
}

#mainHeader{
    background-color: #8ab454;
    height: 1.5cm;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    -webkit-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
}

.unreadMsg{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: red;
    position: relative;
    top: 3px;
    left: 30px;
    font-size: 0.8em;
    color: white;
    text-align: center;
    line-height: 18px;
}
