.registerformular{
    background-color: white;
    -webkit-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    margin-top:20px;
}
#userregistrierung{
    padding-bottom:20px;
}
#datenschutz{
    height: 20px;
    width: 20px;
    background-color: white;
    float:left;
}

.datenschutzbestimmung{
    margin-left:2px;
}
.datenschutzbestimmung span{
    line-height:30px;
    margin-left:5px;
}