

#loginWrapper{

}

#loginWrapper input{
    border: none;
    margin-top: 20px;
}

#loginWrapper form{
    width: 300px;
    margin: auto;
}

#loginInputContainer{
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    padding-bottom:20px;
}

#loginInputContainer input{
  border: 1px solid #ccc!important;
}


#loginToRegister{
    background-color: #898989;
    margin-top: 20px;
}

#loginButtonContainer{
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    width: 300px;
}

#loginLogo{

    display: block;
    margin-left:auto;
    margin-right: auto;
    height: 25%;

}
