
.PillenButton{
    background-color: #8ab454;
    height: 50px;
    border-radius: 25px;
}

.PillenButton p{
    font-size: 120%;
    line-height: 50px;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    color:white;
}

.icon{
    width: 0.75cm;
    height: 0.75cm;
}



.impressum_container{
  text-align: left;
      background-color: #fff;
      padding: 20px 30px;
      margin: 20px;
}

.head_impressum{
  color: #8ab454;
  font-size: 20px;
font-weight: 600;
}
