
.nutzerProfil{
    background-color: white;
    -webkit-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    margin-top: 20px;
}
.profilUserBild img {
    height: 15vw;
    width: 15vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 75px;
    min-height: 75px;
    border-radius: 100%;
    object-fit: cover;
    align-self: center;
}
.profilUserBild {
    float: left;
    width: 15vw;
    max-width: 100px;
    height: 100px;
    min-width: 75px;
    min-height: 75px;
    display: flex;
}
.profilUserInformation {
  max-width: 160px;
    float: left;
    margin-left: 10px;
    align-self: center;
    text-align: left;
}
.profilUserInformation span{
    font-size:1.2em;
    color:#8ab454;
    font-weight: bold;
}
.eigeneAngebote{
    margin: 5% auto;
    padding: 2% 5% 5% 5%;
    width:96%;
    background-color:#fff;
    /* -webkit-box-shadow: inset 0px -1px 17px -6px rgba(0,0,0,0.54);
    -moz-box-shadow: inset 0px -1px 17px -6px rgba(0,0,0,0.54);
    box-shadow: inset 0px -1px 17px -6px rgba(0,0,0,0.54); */
}
.gesuchAuswahl{
    text-align:left;
    font-weight: bold;
    margin-top:5px;
}
.profiljobinfos{
    height:80%;
    display:table-cell;
    vertical-align: middle;
}
