

#fullscreenOverlay{
    position: fixed;
    top: 0%;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10000000000000000000000;
    visibility: hidden;
    padding: 20px;
}

.closeButton{
    background-image: url('../icons/schließen.svg');
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-repeat: no-repeat;
}
