.nachrichtPreview{
    height:120px;
    width:100%;
    display:flex;
    align-content: center;

    margin-top: 2%;
    padding:10px 0 10px 0;
    background-color: white;
    -webkit-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
}
.adressatBild{
    padding: 0 15px 0 15px;
    margin-left:3%;
    display:flex;
    align-content: center;
}
.adressatBild img{
    align-self:center;
    border-radius:100%;
    height:20vw;
    width:20vw;
    max-width:100px;
    max-height: 100px;
    object-fit: cover;
}
.gelesenIndikator{
    background-color:#8ab454;
}
.nachrichtInfos{
    display:flex;
    align-content: center;
    width:90%;
}
.nachrichtInfos p{
    text-align: left;
    margin-left:15px;
    align-self:center;
}
.postfachContainer{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

}
.nachrichtenmenupunkte{
    float:right;
}
.nachrichtenmenupunkte img{
    height:15px;
    width:15px;
}
.nachrichtPreview:hover{
    border-color:#8ab454;
    -webkit-transition: border-color 1s;
    -moz-transition: border-color 1s;
    -ms-transition: border-color 1s;
    -o-transition: border-color 1s;
    transition: border-color 1s;
}

/*Detail View*/

#backButton{
    margin-left: 0.25cm;
    margin-top: 0.5cm;
    float: left;
}

#moreOptionsButton{
    margin-right: 0.25cm;
    margin-top: 0.5cm;
    float: right;
}


#adressatDetailBild{
    float: left;
    height: 1.5cm;
    width: 1.5cm;
    margin-top: 0.125cm;
    margin-left: 15px;
    align-self:center;
    border-radius:100%;

    object-fit: cover;
}

#adressatName{
    float: left;
    max-width: 200px;
    padding-left: 15px;
    height: 1.5cm;
    margin:0px !important;
    margin-top: 0.125cm !important;
    line-height: 1.5cm;
    color: #333;
}

#messageDetailViewHeader{
    width: 100%;
    height: 2.5cm;
    padding-top: 15px;
    background-color: #f0f0f0;
    position: fixed;
    top: 1.5cm;
    z-index: 100;
}

#gradientBelowHeader{
    height: 0.5cm;
    width: 100%;
    position: fixed;
    top: 4cm;
    background: linear-gradient(to bottom, rgba(240,240,240,1), rgba(240,240,240,0));
    z-index: 100;
}

#messageWrapper{
    overflow: auto;
    margin-top: 3cm;
    padding-bottom: 50px;
}

.messageBox{
    width: 70%;
    padding: 15px;
    margin: 15px;

}

#messageself{
    background-color: #8ab454;
    border-radius: 20px 20px 0px 20px;
    color: #ffffff;
    float: right;
}

#messageother{
    background-color: #ffffff;
    border-radius: 20px 20px 20px 0px;
    float: left;
}

#sentDate{
    font-size: 80%;
    float: right;
    margin-bottom: 0px;
} 

#messageInputContainer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color:#f0f0f0;
    padding-right: 5px;
    padding-left: 5px;
    
}

#messageInputField{
    padding: 12px 18px;
    border-radius: 23px !important;
    /*position: relative;
    bottom: 5px;*/
    margin-bottom:5px;
    margin-top:5px;
    flex-grow: 1;
}

#sendMessageButton{
    flex-basis:auto;
    min-width: 46px;
    width: 46px;
    height: 46px;
    margin: 5px 0px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #8ab454;
}

#sendMessageButton img{
    width: 100%;
    height: 100%;
}

#messageInputFlexBox{
    display: flex;
    align-items: flex-end;
    padding: 0px;
}
