
@media only screen and (max-width: 720px) {
    .desktop{
        display: none !important;
    }
    .inseratPV {
        line-height: 20px;
        padding: 4%;
        max-width: 85vw;
        background-color: white;
        margin-top: 2%;
        border: 0.2px solid lightgrey;
        -webkit-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
        -moz-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
        box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    }
    .maxsize{
        height: 40vh;
        width: 100%;
        overflow:hidden;
        margin-top:4%;
    }
    .rowtitle{
        font-family: 'Lato', sans-serif;
        color: #8ab454;
        font-size:1.6em;
        line-height:24px;
    }
    .jobdetails{
        height:25vh;
        text-align: left;
        margin-top:1%;
    }
    .preis {
        margin-right:7%;
        margin-top:10px;
        text-align: right;
        color:#8ab454;
    }
    .preis span{
        font-size:1.5em;
    }

    .fa-spinner{
        text-align: center;
        font-size: 150px;
        margin-top: 50px;
        color:#8ab454;
        margin-left: auto;
        margin-right: auto;
        display: block!important;
    }
    #statusField{
      text-align: center;
      margin-top: 20px;
    }

    .loader{width: 125px;margin-top: 50%;}
}
@media only screen and (min-width: 720px) {

  .loader{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15%;}

  .fa-spinner{
      text-align: center;
      font-size: 150px;
      margin-top: 50px;
      color:#8ab454;
      margin-left: auto;
      margin-right: auto;
      display: block!important;
  }

    .mobile{
        display: none !important;
    }
    .inseratPV {
        line-height: 20px;
        max-width: 75vw;
        background-color: white;
        margin-top: 1%;
        height:200px;
        border: 0.2px solid lightgrey;
        -webkit-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
        -moz-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
        box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    }
    .maxsize{
        height: 200px;
        width: 100%;
        overflow:hidden;
    }
    .nopad{
        padding:0px !important;
    }

    .rowtitle{
        font-family: 'Lato', sans-serif;
        color: #8ab454;
        font-size:1.3em;
        margin-top:2%;
        border-bottom: 0.4px solid forestgreen;
        padding-bottom: 2%;
        width:100%;
        line-height:18px;
        display:table;
        min-height:42px;

    }
    .rowtitle span{
        display:table-cell;
        vertical-align: middle;
        text-align:left;
    }
    .jobdetails{
        height:150px;
        text-align: left;
        padding-left:15px !important;
    }
    .jobdetails .aufgaben{
        line-height:15px;
    }
    .infotextaufgabenelemente{
        float:left;
        margin-top:10px;
        width:70%;
    }
    .infotextaufgabentitel{
        float:left;
        width:65px;
    }
    .jobinfotext{
        line-height:230%;
    }
    .jobinfotext span{
        font-weight:bold;
    }
    .preis {
         margin-right:10px;
         text-align: right;
         margin-top: 120px;
         color:#8ab454;
     }
    .preis span{
        font-size:1.3em;
    }
    .suchfeldcontainer{
        width:150px;
    }
}

.favoriticon{
    height:20px;
    width:auto;
    margin-top:10px;
}
.iconcontainer{
    text-align: right;
    margin-right:10px;
}

.leftcolumn{
    width:50%;
    float:left;
    margin:0 auto;
    margin-top:3%;
}
.rightcolumn{
    width:50%;
    float:left;
    margin-top:3%;
    word-break: break-word;
    padding-right:10px;
}
.leftalign{
    width:100%;
}
.mtop{
    margin-top:3%;
}
.bottomborder{
    border-bottom: 0.4px solid forestgreen;
    width:85%;
    height:2px;
    display:block;
    margin: 0 auto;
}

.objectcover{
    object-fit: cover;
}

#addbutton{
    width:50px;
    height:50px;
    background-color:#8ab454;
    overflow:hidden;
    position:fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 100%;
}
#addButton img{
    width:100%;
    height:100%;
}
#addButton:hover {
    width: 50px;
    height: 50px;
    background-color: dodgerblue;
    -webkit-transition: height 100ms, width 100ms, background-color 200ms;
    -moz-transition: height 100ms, width 100ms, background-color 200ms;
    -ms-transition: height 100ms, width 100ms, background-color 200ms;
    -o-transition: height 100ms, width 100ms, background-color 200ms;
    transition: height 100ms, width 100ms, background-color 200ms;
}
.userBackground{
    background-color: #254009;
    height:100px;
    width:100% !important;
    margin-top: 4%;
}
.userProfilbild{
    height:100px;
    width:100px;
    background-color: lightgrey;
    float:left;
}
.userNameElement{
    line-height: 100px;
    font-size:1.2em;
    color:white;
    float:left;
    padding-left: 5%;
    padding-right:5%;
}
.userProfilbild img{
    object-fit: cover;
    height:100px;
    width:100px;
}

.merken{
    float:left;
    margin-left:7%;
    margin-top:10px;
}
.merken img{
    height:24px;
    width:24px;
}
.infotextfähigkeiten{
    float:left;
    width:76px;
}
