@media only screen and (min-width: 720px) {
    .maxwidth{
        width:70vw;
        margin:0 auto;
    }
}
@media only screen and (max-width: 720px) {
    .maxwidth{
        width:90vw;
        margin: 0 auto;
    }
}
.angebotsKarte{
    text-align:center;
    background-color:#f0f0f0;
}
.ak-Detail{
    color:#8ab454;
    text-align: left;
    font-size:1.3em;
    font-weight:bold;
    min-height:40px !important;
    line-height:40px;
    width:100%;
    margin: 3% auto !important;
}
.ak-Detail-HL{
    width:70%;
    float:left;
}
.ak-Icons{
    text-align: right;
    clear-after: both;
    height: 40px;
    width:30%;
    float:right;
}
.ak-x{
    height:16px;
    width:35px;
    line-height: 15px;
    text-align:right;
    margin-top:11px;
    float:right;
}
.ak-container{
    background-color:white;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:2%;
    text-align:center;
    margin-bottom:30px;
    -webkit-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
    box-shadow: 2px 4px 25px -6px rgba(0,0,0,0.4);
}
.ak-FirstHeadline{
    font-size:1.3em;
    line-height:20px;
    min-height:40px;
    color:#8ab454;
}
.ak-images{
    width:100%;
    height: 40vh;
    object-fit:cover;
}
.ak-maininfos{
    height: 80px;
    width:100%;
    background-color:#8ab454;
    text-align:center;
    color:white;
    margin-left:0px !important;
    margin-top: 10px;
    padding-top:20px;
    line-height:20px;
}
.ak-wohnflaeche{
    width:50%;
    float:left;
    display:block;
    height:40px;
    line-height: 20px;
}
.ak-mietpreis{
    width:50%;
    display:block;
    float:left;
    height:40px;
    line-height: 20px;

}
.ak-mietarverfügbarab {
    text-align: left;
    margin-top: 30px;
    line-height: 25px;
    padding-top:10px;
}

.ak-numberscale{
    font-size:1.3em;
}
.ak-infocontainer{
    margin-left:10%;
    width:80%;
}
.ak-ausstattung{
    margin-top:30px;
}
.ak-headline{
    border-bottom: 0.4px solid forestgreen;
    text-align:left;
    color:black;
    font-weight:bold;
    font-size:1.1em;
    padding-bottom:5px;
    margin-top:15px;
}
@media only screen and (min-width: 330px) {
    .ak-ausstattung-elements {
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex-basis: 50%;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 330px) {
    .ak-ausstattung-elements{
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        justify-content:center;
        flex-wrap:wrap;
        flex-basis:50%;
        margin-top:20px;
    }
}
.ak-ausstattung-element{
    height:110px;
    width:50%;
    min-width:120px;
}
.ak-ausstattung-element img{
    height:50px;
    width:50px
}
.ak-ausstattung-element p{
    margin-top:10px;
}
.ak-elements{
    text-align: left;
    margin-top:20px;
}
.carousel-inner img{
    width:100%;
    height:40vh !important;
    object-fit: cover;
}
.favoriterow{
    text-align: right;
    width:100%;
    margin-top:10px;
}
.favoriterow img{
    width:25px;
    height:auto;
}
.ak-gesuch-images{
    width:100%;
    height: 30vh;
    object-fit:contain;
    margin:0 auto;
}
.ak-gesuch-images img{
    height: 30vh;
    width:60%;
    object-fit:contain;
}
.geschlechticon{
    height:25px;
    width:25px;
}
.jobUserBild{
    float:left;
    width:15vw;
    max-width:100px;
    height:100px;
    min-width: 75px;
    min-height:75px;
    display:flex;

}
.jobUserBild img{
    height:15vw;
    width:15vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 75px;
    min-height:75px;
    border-radius:100%;
    object-fit:cover;
    align-self:center;
}
.jobUserInformation{
    float:left;
    margin-left:10px;
    clear-after: both;
    align-self:center;
}
.anbietercontainer{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
