<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>



<div id="response"></div>

<script>

  $.ajax({
    url: 'ajaxController.php',
    data:

    {
       'request': {
         'chat': {
           'get': {
             'id' : '4',
             'angebot_id':'29',
             'message':'Antworte doch?',
             'angebot_headline':'Das ist die Beschreibung',
             'angebot_type': 'angebot_suche'
             }
           }
         }
     },


    // {
    //    'request': {
    //      'user': {
    //        'login': {
    //          'logout':'1',
    //          'nachname':'Mustermann',
    //          'geschlecht':'m',
    //          'beschreibung':'Das ist die Beschreibung',
    //          'mail': 'user@mail.de',
    //          'passwort': 'passwort',
    //          'bild': 'bildpfad'
    //          }
    //        }
    //      }
    //  },



    // {
    //   'request': {
    //     'offer': {
    //       'help': {
    //         'get': {
    //           'filter' : {
    //           'all':'1',
    //           'ajax':'1',
    //
    //           'titel' : 'LOLl',
    //           'beschreibung' : 'Ich suche einen Helfer',
    //           'bilder' : ['eins', 'zwei'],
    //           'ort' : 'mosbach',
    //           'plz' : '74420',
    //           'umkreis' : '10',
    //           'adresse' : 'Eisebahnstrasse',
    //           'hauptbild' : 'bildname',
    //           'aufgabenfeld' : {
    //             '0':'Gartenarbeit',
    //             '1':'Babysitten',
    //             '2':'Feldarbeit'
    //           },
    //           'preis' : '50',
    //           'arbeitsstunden' : '10',
    //           'von' : '10.10.2018',
    //           'bis' : '10.10.2019',
    //           'aktiv' : '1',
    //           'groesse' : '200',
    //           'wohnungsart' : 'WG',
    //           'mietart' : 'unbefristet',
    //           'ausstattung' : 'Viele Moebel',
    //           'lage' : 'super lage',
    //           'sonstiges' : 'Ein Cooles Angebot'
    //           }
    //         }
    //         }
    //       }
    //     }
    // },
    method: 'POST',
    success: function(data) {
      console.log(data);
      $('#response').append(data)
    }
  });
</script>



<!-- EDIT

{
  'request': {
    'offer': {
      'help': {
        'edit': {
          'id' : '4',
          'titel' : 'LOLl',
          'beschreibung' : 'Ich suche einen Helfer',
          'bilder' : ['eins', 'zwei'],
          'ort' : 'mosbach',
          'plz' : '74420',
          'umkreis' : '10',
          'adresse' : 'Eisebahnstrasse',
          'hauptbild' : 'bildname',
          'aufgabenfeld' : {
            '0':'Gartenarbeit',
            '1':'Babysitten',
            '2':'Feldarbeit'
          },
          'preis' : '50',
          'arbeitsstunden' : '10',
          'von' : '10.10.2018',
          'bis' : '10.10.2019',
          'aktiv' : '1',
          'groesse' : '200',
          'wohnungsart' : 'WG',
          'mietart' : 'unbefristet',
          'ausstattung' : 'Viele Moebel',
          'lage' : 'super lage',
          'sonstiges' : 'Ein Cooles Angebot'
          }
        }
      }
    }
}, -->



<!-- CREATE -->
<!--
{
  'request': {
    'offer': {
      'house': {
        'create': {
          'titel' : 'Das ist der Titel',
          'beschreibung' : 'Ich suche einen Helfer',
          'ort' : 'mosbach',
          'plz' : '74420',
          'bilder' : {
            '0':'bild1',
            '1':'bild2',
          },
          'adresse' : 'Eisebahnstrasse',
          'hauptbild' : 'bildname',
          'aufgabenfeld' : {
            '0':'Gartenarbeit',
            '1':'Babysitten',
            '2':'Feldarbeit'
          },
          'preis' : '50',
          'arbeitsstunden' : '10',
          'von' : '10.10.2018',
          'bis' : '10.10.2019',
          'aktiv' : '1',
          'groesse' : '200',
          'wohnungsart' : 'WG',
          'mietart' : 'unbefristet',
          'ausstattung' : 'Viele Moebel',
          'lage' : 'super lage',
          'sonstiges' : 'Ein Cooles Angebot'
          }
        }
      }
    }
},
 -->


<!-- DELETE -->
 <!-- {
   'request': {
     'offer': {
       'house': {
         'delete': {
         'id':'10'
           }
         }
       }
     }
 }, -->





 <!-- USER ARRAY
 {
   'request': {
     'user': {
       'delete': {
         'name':'Max',
         'nachname':'Mustermann',
         'geschlecht':'m',
         'beschreibung':'Das ist die Beschreibung',
         'mail': 'natalie@mail.de',
         'passwort': '1234passwort',
         'bild': 'bildpfad'
         }
       }
     }
 }, -->


<!-- CHAT RESPONSE -->
<!--
 {
   'chat': {
     'id': '12',
     'self': {NUTZERARRAY},
     'partner': {NUTZERARRAY},
     'angebot_type' : 'typ',
     'angebot_id' : 'id',
     'angebot_headline' : 'text',
     '1': {
       'from' : 'id',
       'message' : 'text'}
       '2': {
         'from' : 'id',
         'message' : 'text'}
         '3': {
           'from' : 'id',
           'message' : 'text'}
           '4': {
             'from' : 'id',
             'message' : 'text'}
             '5': {
               'from' : 'id',
               'message' : 'text'}
               '6': {
                 'from' : 'id',
                 'message' : 'text'}

 }, -->
