<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=0">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="dropzone/dropzone.css">
<link rel="stylesheet" type="text/css" href="css/header.css">
<link rel="stylesheet" type="text/css" href="css/burgerMenu.css">
<link rel="stylesheet" type="text/css" href="css/uebersicht.css">
<link rel="stylesheet" type="text/css" href="css/formular.css">
<link rel="stylesheet" type="text/css" href="css/zeigeJobAngebot.css">
<link rel="stylesheet" type="text/css" href="css/legeUserAn.css">
<link rel="stylesheet" type="text/css" href="css/overlay.css">
<link rel="stylesheet" type="text/css" href="css/login.css">
<link rel="stylesheet" type="text/css" href="css/postfach.css">
<link rel="stylesheet" type="text/css" href="css/nutzerprofil.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
<link rel="apple-touch-icon" href="icon.png">
<link rel="manifest" href="manifest.json">

<script src="dropzone/dropzone.js"></script>
<script src="js/util.js"></script>
<script src="tween.js-master/src/Tween.js"></script>
<script src="tween.js-master/src/RequestAnimationFrame.js"></script>
<script src="tween.js-master/src/tweenLite.js"></script>

<script src="js/Controller/LoginController.js"></script>
<script src="js/Controller/menuController.js"></script>
<script src="js/Controller/alleAngeboteController.js"></script>
<script src="js/Controller/angebotErstellenController.js"></script>
<script src="js/Controller/SchaetController.js"></script>
<script src="js/Controller/detailSeiteController.js"></script>
<script src="js/Controller/legeUserAnController.js"></script>
<script src="js/Controller/postfachController.js"></script>
<script src="js/Controller/loeschenController.js"></script>
<script src="js/OverlayHandler.js"></script>
<script src="js/BackendInterface.js"></script>
<script src="js/templateImporter.js"></script>
<script src="js/burgerMenu.js"></script>
<script src="js/applicationMain.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="js/vendor/template7.min.js"></script>

<body style="background-color:#f0f0f0; max-width:100vw;">
    <div id="main"></div>
    <div id="mainHeader" style="z-index: 9999999">
        <div id="openBurgerMenuLeftButton" class="mobile" onmousedown="application.burgerMenuLeft.open()"></div>
        <div id="SearchButton" class="mobile" onmousedown="application.burgerMenuRight.open()"></div>
        <div id="MailButton" class="mobile loggedInMenuPoint" style="display:none;" onmousedown="application.navigateTo('postfach')">
            <div class="msgelement"></div>
        </div>
    </div>

    <div style="height:1.5cm"></div>
    <div class="desktop">
        <div class="headerMenu">
            <div class="headerMenuWrapper row" style="margin-left:0px !important;margin-right: 0px !important;">
                <div class="headerMenuPoint" onmousedown="application.navigateTo('alleAngebote')">
                    <p>Übersicht</p>
                </div>
                <div class="headerMenuPoint loggedInMenuPoint" onmousedown="application.navigateTo('angebotErstellen')">
                    <p>Angebot erstellen</p>
                </div>
                <div class="headerMenuPoint loggedInMenuPoint" onmousedown="application.navigateTo('eigenesProfil')">
                    <p>Mein Profil</p>
                </div>
                <div class="headerMenuPoint loggedInMenuPoint" onmousedown="application.loginController.logout()">
                    <p>Logout</p>
                </div>
                <div class="headerMenuPoint loggedOutMenuPoint" onmousedown="application.navigateTo('login')">
                    <p>Login</p>
                </div>
                <div class="headerMenuPoint" onmousedown="application.navigateTo('impressum')">
                    <p>Impressum</p>
                </div>
                <div id="headerSearchButton" class="desktop" onmousedown="application.burgerMenuRight.open()"></div>
                <div id="headerMailButton" class="desktop loggedInMenuPoint" onmousedown="application.navigateTo('postfach')">
                    <div class="msgelement"></div>
                </div>
            </div>

        </div>
    </div>
    <div id="mainContent">
    </div>

    <div class="burgerMenu burgerMenuLeftSpecific mobile menu_background" id="burgerMenuLeft">

        <div class="burgerMenuHeader">
            <div id='closeBurgerMenuLeftButton' onmousedown="application.burgerMenuLeft.close()"></div>
            <img src="icon.svg" alt="WFH-Logo" onmousedown="application.navigateTo('alleAngebote')">
            <p> Wohnen für Hilfe </p>
        </div>
        <div class="burgerMenuPointWrapper">
            <div class='burgerMenuPoint' onmousedown="application.navigateTo('alleAngebote')">
                <img src="icons/menu/overview.svg">
                <p>Übersicht</p>
            </div>

            <div class='burgerMenuPoint loggedInMenuPoint' onmousedown="application.navigateTo('angebotErstellen')">
                <img src="icons/menu/create.svg">
                <p>Angebot erstellen</p>
            </div>

            <div class='burgerMenuPoint loggedInMenuPoint' onmousedown="application.navigateTo('eigenesProfil')">
                <img src="icons/menu/profile_white.svg">
                <p>Mein Profil</p>
            </div>
            <div class='burgerMenuPoint loggedInMenuPoint' onmousedown="application.navigateTo('postfach')">
                <img src="icons/menu/message.svg">
                <p>Postfach</p>
            </div>
            <div class='burgerMenuPoint loggedOutMenuPoint' onmousedown="application.navigateTo('login')">
                <img src="icons/menu/login.svg">
                <p>Login</p>
            </div>
            <div class='burgerMenuPoint loggedInMenuPoint' onmousedown="application.loginController.logout()">
                <img src="icons/menu/logout.svg">
                <p>Logout</p>
            </div>
            <div class='burgerMenuPoint' onmousedown="application.navigateTo('impressum')">
                <img src="icons/menu/imprint_white.svg">
                <p>Impressum</p>
            </div>
        </div>

    </div>

    <div class="burgerMenu burgerMenuRightSpecific" id="burgerMenuRight">
        <div id="searchMenuHeader">
            <div id='closeBurgerMenuRightButton' onmousedown="application.burgerMenuRight.close()"></div>
        </div>
        <div id="searchMenuFormWrapper">
            <form>
                <div class="form-group">
                    <select class="form-control eingabefeld" id="searchType" name="type">
                        <option value="house" selected>Ich suche Wohnraum</option>
                        <option value="help">Ich suche Hilfe</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control eingabefeld" name="ort" id="searchOrt" placeholder="Ort/Stadt/PLZ">
                </div>
                <div class="form-group">
                    <select class="form-control eingabefeld" id="searchUmkreis" name="umkreis">
                        <option value="50000" selected>bis 50km</option>
                        <option value="30000">bis 30km</option>
                        <option value="20000">bis 20km</option>
                        <option value="15000">bis 15km</option>
                        <option value="10000">bis 10km</option>
                        <option value="5000">bis 5km</option>
                        <option value="0">kein Umkreis</option>
                    </select>
                </div>
            </form>

        </div>
        <div class="PillenButton" id="suchMenuSuchButton">
            <p>Suchen</p>
        </div>
    </div>

    <div id="transparentBackground"></div>

    </div>

    <!-- login.css, loginController.js, OverlayHandler -->
    <div id="fullscreenOverlay">

    </div>

    <script>

        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('./service-worker.js').then(function () {
                    // Registrierung erfolgreich
                    console.log('Registrierung erfolgreich. ');
                }).catch(function (error) {
                    // Registrierung fehlgeschlagen
                    console.log('Registrierung fehlgeschlagen mit ' + error);
                });
            });
        }
        var application = new ApplicationMain();
        application.loginController.checkLoginStatusWithBackend();

        var connection = navigator.connection || navigator.mozConnection || navigator.webkitConnection
        function updateConnectionStatus() {
            window.location = window.location;
        }
        connection.addEventListener('change', updateConnectionStatus);
        window.addEventListener('offline', function(event){
            updateConnectionStatus();
            console.log("You lost connection.");
        });





    </script>
</body>
