<div id="loginWrapper">
    <div id="loginCloseButton" class="closeButton" ></div>
        <img id="loginLogo" src="icon.png">
        <form id="loginForm">
            <div id="loginInputContainer">
                <input class="form-control eingabefeld" name="email" id="loginEMAIL" placeholder="E-Mail Adresse">
                <input class="form-control eingabefeld" type="password" name="pw" id="loginPW" placeholder="Passwort">
            </div>
            <div id="loginButtonContainer">
                <div class="PillenButton" >
                    <p id="loginSend">Anmelden</p>
                </div>
                <div id="loginToRegister" class="PillenButton">
                    <p>Neu Registrieren</p>
                </div>
            </div>
        </form>
    </div>