<div id="addButton" class="animated bounceInUp" onmousedown="application.navigateTo('angebotErstellen')">
<img src="./icons/plus.svg">
</div>

<div id="angeboteContainer"></div>

<!-- <div><p id="statusField"><i class='fas fa-spinner fa-pulse'></i></p></div> -->
<div><p id="statusField"></p></div>
