<div class="formulare container">
    <div class="row center" style="margin-top: 2%">
        <span class="form-headline">Was bieten Sie?</span>
    </div>
</div>
<div class="row animated fadeIn" style="margin-left:0px !important;margin-right: 0px !important; ">
    <div class="formularelement col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" style="margin-top:2% !important; margin-bottom: 2% !important;">
        <div class="formauswahlcontainer">
            <div class="formauswahlElement" id="wohnraumbietend" onclick="application.navigateTo('jobErstellen')">
                <img class="formauswahlIcon" src="./icons/rabbit_green.svg" alt="Wohnraumbietend">
                <p class="formauswahlbeschreibung">Ich biete Wohnraum</p>
            </div>
            <div class="formauswahlElement" id="wohnraumsuchend" onclick="application.navigateTo('gesuchErstellen')">
                <img class="formauswahlIcon" src="./icons/turtle_green.svg" alt="Wohnraumsuchend">
                <p class="formauswahlbeschreibung">Ich biete Hilfe</p>
            </div>
        </div>
    </div>
</div>