{{#each inserate}}
<div id="offer_{{id}}" onclick='application.navigateTo("houseDetailView_{{id}}")' class="inseratPV container text-center mobile">
    <div class="row" id="viewPortCheck_{{id}}" style="padding-left:10px !important; padding-right: 10px !important;">
        <span class="rowtitle">
          {{titel}}
        </span>
    </div>
    <div class="row">
        <img class="maxsize objectcover" src="./uploads/{{head_bild}}" alt="houseimg">
    </div>
    <div class="row mtop">
        <div class="leftcolumn">
            <p>
                Wohnfl&auml;che: </br>
                {{groesse}} m²
            </p>
        </div>
        <div class="rightcolumn">
            <p>
                Verf&uuml;gbar ab: </br>
                {{von}}
            </p>
        </div>
    </div>
    <div class="row">
        <span class="bottomborder"></span>
    </div>
    <div class="row">
        <div class="leftcolumn">
            <div class="leftalign"><p>
                Ort: <br>
                {{ort}}
            </p>
            </div>
        </div>
        <div class="rightcolumn">
            <p>
                Aufgaben: <br>
                {{#each aufgaben}} {{#js_if "@index < 2" }} <span>&nbsp;{{this}}, </span>{{/js_if}}{{#js_if "@last"}}...{{/js_if}} {{/each}}
            </p>
        </div>
    </div>

    <div class="row">
        <span class="bottomborder"></span>
    </div>
    <div class="row">
        <!-- <div class="merken">
            <img src="./icons/merken.svg">
        </div> -->
        <div class="preis">
            <span>{{preis}}</span> €
        </div>
    </div>
</div>

<!-- DESKTOP VIEW -->

<div id="offer_{{id}}" onclick='application.navigateTo("houseDetailView_{{id}}")' class="inseratPV container text-center desktop  animated fadeIn">

    <div class="row" id="viewPortCheck_{{id}}">
        <div class="col-md-4 col-sm-4 col-xs-4 nopad">
            <img class="maxsize objectcover" src="./uploads/{{head_bild}}" alt="houseimg">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 nopad jobdetails">
            <div class="rowtitle">
                <span>{{titel}}</span>
            </div>

            <div class="jobinfotext">
                <div class="nichtaufgabeninfos">
                    <p style="margin-bottom:0px !important">
                        Wohnfl&auml;che: <span>{{groesse}} m²</span> </br>

                        Verf&uuml;gbar ab: <span>{{von}}</span> </br>

                        Ort: <span>{{ort}}</span> </br>
                    </p>
                </div>
                <div class="infotextaufgaben">
                    <div class="infotextaufgabentitel">Aufgaben: </div>
                    <div class="infotextaufgabenelemente">
                        <p>
                            <span class="aufgaben">{{#each aufgaben}} {{#js_if "@index < 2" }} <span>&nbsp;{{this}}, </span>{{/js_if}}{{#js_if "@last"}}...{{/js_if}} {{/each}}</span>
                        </p>
                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 nopad">
            <div class="iconcontainer">
                <!-- <img class="favoriticon" src="./icons/merken.svg"> -->
            </div>
            <div class="preis">
                <span>{{preis}}</span> €
            </div>
        </div>
    </div>
</div>
{{/each}}
