<div class="formulare container">
    <div class="row center" style="margin-top: 2%">
        <span class="form-headline">Angebot erstellen</span>
    </div>
</div>
<div class="row" style="margin-left:0px !important;margin-right: 0px !important; ">


    <div id="wohnraumsuchend" class="formularelement animated fadeIn col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3"
        style="margin-top: 2%; margin-bottom:2%">
        <form action="dropzoneBackend.php" method="post" enctype="multipart/form-data" class="dropzone editdropzone" id="dropzoneFileUpload">
        </form>
        <form id="angebotFormular" method="POST">
            <div class="form-group">
                <!--<label for="titel">Titel</label>-->
                <input class="form-control eingabefeld" id="titel" name="titel" placeholder="Job-Beschreibung*" >
            </div>
            <div class="form-group">
                <!--<label for="groesse">Gr&ouml;sse</label>-->
                <input type="number" class="form-control eingabefeld" name="groesse" id="groesse" placeholder="Wohnraumgröße in m²*" >
            </div>
            <div class="form-group">
                <!--<label for="preis">Preis</label>-->
                <input type="number" class="form-control eingabefeld" name="preis" id="preis" placeholder="Mietpreis in €*">
            </div>
            <div class="form-group">
                <select class="form-control eingabefeld" id="mietart" name="mietart">
                    <option value="" disabled selected>Mietart*</option>
                    <option value="Befristet">Befristet</option>
                    <option value="Unbefristet">Unbefristet</option>
                </select>
            </div>

            <div class="ausgerichtet">
                <!--<label for="datumvon">Angebot gültig ab</label>-->
                <span>Von*:</span>
                <input type="date" class="form-control eingabefeld vonbis" id="datumvon" placeholder="Von:" style="margin-right: 2% !important;">
                <span>Bis:</span>
                <input type="date" class="form-control eingabefeld vonbis" id="datumbis" placeholder="Bis:">
            </div>


            <div class="slidebutton" data-toggle="collapse" data-target="#grp_ausstattung" aria-expanded="false" aria-controls="grp_ausstattung">
                <span class="slidebutton_tag">Ausstattung</span>
                <span class="slideicon glyphicon glyphicon-chevron-down"></span>
            </div>

            <div id="grp_ausstattung" class="collapse">

                <div class="ausstattungsmerkmale container form-group">

                    <div class="ausstattungsmerkmale">
                        <div class="linkercontainer">
                            <span>
                                <input type="checkbox" name="ausstattung" value="WLAN"/> WLAN</span>
                            </br>
                            <span>
                                <input type="checkbox" name="ausstattung" value="Tiere erlaubt"/> Tiere erlaubt</span>
                            </br>
                            <span>
                                <input type="checkbox" name="ausstattung" Value="Eigenes Bad"/> Eigenes Bad</span>
                            </br>
                            <span>
                                <input type="checkbox" name="ausstattung" value="Balkon"/> Balkon</span>
                            </br>
                            <span>
                                <input type="checkbox" name="ausstattung" value="Spülmaschine" /> Spülmaschine</span>
                        </div>
                        <div class="rechtercontainer">
                            <span>
                                <input type="checkbox" name="ausstattung" value="Stellplatz"/> Stellplatz</span>
                            </br>
                            <span>
                                <input type="checkbox" name="ausstattung" value="Möbel"/> Möbel</span>
                            </br>
                            <span>
                                <input type="checkbox" name="ausstattung" value="Waschmaschine" /> Waschmaschine</span>
                            </br>
                            <span>
                                <input type="checkbox" name="ausstattung" value="Eigene Küche" /> Eigene Küche</span>
                            </br>
                            <span>
                                <input type="checkbox" name="ausstattung" value="Terasse" /> Terasse</span>

                        </div>
                    </div>

                </div>
            </div>

            <div class="slidebutton" data-toggle="collapse" data-target="#grp_aufgaben" aria-expanded="false" aria-controls="grp_aufgaben">
                <span class="slidebutton_tag">Aufgaben</span>
                <span class="slideicon glyphicon glyphicon-chevron-down"></span>
            </div>

            <div id="grp_aufgaben" class="collapse">
                <div class="ausstattungsmerkmale container form-group">

                    <div class="linkercontainer">
                            <span>
                                <input type="checkbox" name="aufgaben" value="Haushaltstätigkeiten"/> Haushaltstätigkeit</span>
                            </br>
                            <span>
                                <input type="checkbox" name="aufgaben" value="Gartenarbeit"/> Gartenarbeit</span>
                            </br>
                            <span>
                                <input type="checkbox" name="aufgaben" Value="Feldarbeit"/> Feldarbeit</span>


                    </div>
                    <div class="rechtercontainer">
                            <span>
                                <input type="checkbox" name="aufgaben" value="Stallarbeit"/> Stallarbeit</span>
                            </br>
                            <span>
                                <input type="checkbox" name="aufgaben" value="Kinderbetreuung"/> Kinderbetreuung</span>
                            </br>
                            <span>
                                <input type="checkbox" name="aufgaben" value="Sonstiges"/> Sonstiges</span>
                    </div>

                </div>
                <div class="form-group">
                    <textarea class="form-control eingabefeld" name="sonstiges" id="sonstiges" rows="4" placeholder="Sonstige Informationen über die Arbeit oder den Auftraggeber.."></textarea>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control eingabefeld" name="arbeitsstunden" id="arbeitsstunden" placeholder="Arbeitsstunden*" >
                </div>
            </div>

            <div class="slidebutton" data-toggle="collapse" data-target="#grp_unterkunft"  aria-expanded="false" aria-controls="grp_unterkunft">
                <span class="slidebutton_tag">Unterkunft</span>
                <span class="slideicon glyphicon glyphicon-chevron-down"></span>
            </div>
            <div id="grp_unterkunft" class="collapse">
                <div class="form-group">
                    <!--<label for="wohnungsart">Art der Unterkunft</label>-->
                    <select class="form-control eingabefeld" name="wohnungsart" id="wohnungsart">
                        <option value="" selected disabled>Art der Unterkunft</option>
                        <option value="WG">WG</option>
                        <option value="Zimmer">Zimmer</option>
                        <option value="Mehrere Zimmer">Mehrere Zimmer</option>
                        <option value="Ganze Unterkunft">Ganze Unterkunft</option>
                    </select>
                </div>

                <div class="form-group">
                    <!--<label for="lage">Lage</label>-->
                    <select class="form-control eingabefeld" name="lage" id="lage">
                        <option value="" disabled selected>Lage*</option>
                        <option value="Zentral">Zentral</option>
                        <option value="Ländlich">Ländlich</option>
                        <option value="Wohngebiet">Wohngebiet</option>
                    </select>
                </div>

                <div class="form-group">
                    <!--<label for="ort">Ort</label>-->
                    <input class="form-control eingabefeld" id="ort" name="ort" placeholder="Ort*">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control eingabefeld" name="postleitzahl" id="postleitzahl" placeholder="Postleitzahl*">
                </div>

                <div class="form-group">
                    <!--<label for="adresse">Adresse</label>-->
                    <input class="form-control eingabefeld" name="adresse" id="adresse" placeholder="Straße, Hausnr.">
                </div>
            </div>
                <div class="submitbuttoncontainer">
                    <button class="btn submitbutton">Angebot erstellen!</button>
                </div>
        </form>
        </div>
    </div>
</div>