<div class="formulare container">
    <div class="row center" style="margin-top: 2%">
        <span class="form-headline">Gesuch erstellen</span>
    </div>
</div>
<div class="row" style="margin-left:0px !important;margin-right: 0px !important; ">


    <div id="hilfesuchend" class="formularelement  animated fadeIn col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3"
         style="margin-top: 2%; margin-bottom:2%">
        <form id="gesuchFormular" method="POST">
            <div class="form-group" style="margin-top:20px;">
                <!--<label for="titel">Titel</label>-->
                <input class="form-control eingabefeld" id="titel" name="titel" placeholder="Betreff*" >
            </div>
            <div class="form-group">
                <!--<label for="preis">Preis</label>-->
                <input type="number" class="form-control eingabefeld" name="preis" id="preis" placeholder="Max. Mietpreis in €*">
            </div>
            <div class="form-group">
                <select class="form-control eingabefeld" id="mietart" name="mietart">
                    <option value="" disabled selected>Mietart</option>
                    <option value="Befristet">Befristet</option>
                    <option value="Unbefristet">Unbefristet</option>
                    <option value="Egal">Egal</option>
                </select>
            </div>

            <div class="ausgerichtet">
                <!--<label for="datumvon">Angebot gültig ab</label>-->
                <span>Von*:</span>
                <input type="date" class="form-control eingabefeld vonbis" id="datumvon" placeholder="Von:" style="margin-right: 2% !important;">
                <span>Bis:</span>
                <input type="date" class="form-control eingabefeld vonbis" id="datumbis" placeholder="Bis:">
            </div>



            <div class="slidebutton" data-toggle="collapse" data-target="#grp_aufgaben" aria-expanded="false" aria-controls="grp_aufgaben">
                <span class="slidebutton_tag">Fähigkeiten</span>
                <span class="slideicon glyphicon glyphicon-chevron-down"></span>
            </div>

            <div id="grp_aufgaben" class="collapse">
                <div class="ausstattungsmerkmale container form-group">

                    <div class="linkercontainer">
                            <span>
                                <input type="checkbox" name="aufgaben" value="Haushaltstätigkeiten"/> Haushaltstätigkeit</span>
                        </br>
                        <span>
                                <input type="checkbox" name="aufgaben" value="Gartenarbeit"/> Gartenarbeit</span>
                        </br>
                        <span>
                                <input type="checkbox" name="aufgaben" Value="Feldarbeit"/> Feldarbeit</span>


                    </div>
                    <div class="rechtercontainer">
                            <span>
                                <input type="checkbox" name="aufgaben" value="Stallarbeit"/> Stallarbeit</span>
                        </br>
                        <span>
                                <input type="checkbox" name="aufgaben" value="Kinderbetreuung"/> Kinderbetreuung</span>
                    </div>

                </div>
                <div class="form-group">
                    <textarea class="form-control eingabefeld" name="sonstiges" id="sonstiges" rows="4" placeholder="Zusätzliche Informationen: Über mich, sonstige Fähigkeiten, etc."></textarea>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control eingabefeld" name="arbeitsstunden" id="arbeitsstunden" placeholder="Max Arbeitsstunden pro Woche*" >
                </div>
            </div>

            <div class="slidebutton" data-toggle="collapse" data-target="#grp_unterkunft"  aria-expanded="false" aria-controls="grp_unterkunft">
                <span class="slidebutton_tag">Unterkunft</span>
                <span class="slideicon glyphicon glyphicon-chevron-down"></span>
            </div>
            <div id="grp_unterkunft" class="collapse">

                <div class="form-group">
                    <!--<label for="lage">Lage</label>-->
                    <select class="form-control eingabefeld" name="lage" id="lage">
                        <option value="" disabled selected>Lage</option>
                        <option value="zentral">Zentral</option>
                        <option value="laendlich">Ländlich</option>
                        <option value="wohngebiet">Wohngebiet</option>
                        <option value="egal">Egal</option>
                    </select>
                </div>

                <div class="form-group">
                    <!--<label for="ort">Ort</label>-->
                    <input class="form-control eingabefeld" id="ort" name="ort" placeholder="Ort*">
                </div>

                <div class="form-group">
                    <input type="number" class="form-control eingabefeld" name="postleitzahl" id="postleitzahl" placeholder="Postleitzahl*">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control eingabefeld" name="umkreis" id="umkreis" placeholder="Umkreis in km*">
                </div>

            </div>
            <div class="submitbuttoncontainer">
                <button class="btn submitbutton">Gesuch erstellen!</button>
            </div>
        </form>
    </div>
</div>
</div>