{{#each inserat}}
<!-- MOBILE VIEW -->
<div id="offer_{{id}}" onclick='application.navigateTo("helpDetailView_{{id}}")' class="inseratPV container text-center mobile" style="padding-left:0px !important; padding-right:0px !important;">
    <div class="row" id="viewPortCheck_{{id}}" style="padding-left:10px !important; padding-right: 10px !important;">
        <span class="rowtitle">
          {{titel}}
        </span>
    </div>
    <div id='overviewuserspace_{{id}}' class="row userBackground" style="margin-left:0px !important; margin-right:0px !important;">
        <div class="userProfilbild">
            <img src="uploads/{{user.bild}}" alt="Profilbild">
        </div>
        <div class="userName">
            <span class="userNameElement">{{user.name}} {{user.nachname}}</span>
        </div>

    </div>
    <div class="row mtop" style="padding-left:15px !important; padding-right:15px !important;">
        <div class="leftcolumn" style="padding-left:15px;">
            <p>
                Ort: <br>
                {{ort}} {{#js_if "this.umkreis > 0"}}+ {{umkreis}}km{{/js_if}}
            </p>
        </div>
        <div class="rightcolumn" style="padding-right: 15px;">
            <p>
                Verf&uuml;gbar ab: </br>
                {{von}}
            </p>
        </div>
    </div>
    <div class="row">
        <span class="bottomborder"></span>
    </div>
    <div class="row"  style="padding-left:15px !important; padding-right:15px !important;">
        <div class="leftcolumn" style="padding-left: 15px;">
            <div class="leftalign">
                <p>
                    Fähigkeiten: <br>
                    {{#each aufgaben}} {{#js_if "@index < 2" }} <span>&nbsp;{{this}}, </span>{{/js_if}}{{#js_if "@last"}}...{{/js_if}} {{/each}}
                </p>
            </div>
        </div>
        <div class="rightcolumn" style="padding-right: 15px;">
            <p>
                Maximale Arbeitsstunden: <br>
                {{arbeitsstunden}} pro Woche
            </p>
        </div>
    </div>

    <div class="row">
        <span class="bottomborder"></span>
    </div>
    <div class="row">
        <div class="merken">
         <!-- <img src="./icons/merken.svg"> -->
        </div>
        <div class="preis">
            Maximale Miete: <span>{{preis}}</span> €
        </div>
    </div>
</div>


<!-- DESKTOP VIEW -->

<div id="offer_{{id}}" onclick='application.navigateTo("helpDetailView_{{id}}")' class="inseratPV container text-center desktop  animated fadeIn">

    <div class="row" id="viewPortCheck_{{id}}">
        <div class="col-md-4 col-sm-4 col-xs-4 nopad">
            <img class="maxsize objectcover" src="uploads/{{user.bild}}" alt="houseimg">
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 nopad jobdetails">
            <div class="rowtitle">
                <span>{{titel}}</span>
            </div>

            <div class="jobinfotext">
                <div class="nichtaufgabeninfos">
                    <p style="margin-bottom:0px !important">
                        Ort: <span> {{ort}} {{#js_if "this.umkreis > 0"}}+ {{umkreis}}km{{/js_if}}</span><br>

                        Maximale Arbeitsstunden: <span>{{arbeitsstunden}} pro Woche</span> <br>

                        Verf&uuml;gbar ab: <span>{{von}}</span>
                    </p>
                </div>
                <div class="infotextaufgaben">
                    <div class="infotextfähigkeiten">Fähigkeiten:</div>
                    <div class="infotextaufgabenelemente">

                           <span class="aufgaben">{{#each aufgaben}} {{#js_if "@index < 2" }} <span>&nbsp;{{this}}, </span>{{/js_if}}{{#js_if "@last"}}...{{/js_if}} {{/each}}</span>

                    </div>

                </div>

            </div>

        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 nopad">
            <div class="iconcontainer">
                <!-- <img class="favoriticon" src="./icons/merken.svg"> -->
            </div>
            <div class="preis">
                Max. <span>{{preis}}</span> €
            </div>
        </div>
    </div>
</div>
{{/each}}
