<div class="impressum_container">
    <p class="head_impressum">Impressum</p>
  <p><b>Wohnen für Hilfe GmbH</b></p>
<p>
Oberer Mühlweg 13<br>
74821 Mosbach
<br><br>

Telefon: (07 91) 95 66 22-0<br>
Telefax: (07 91) 95 66 22-22 <br>
E-Mail: info@wfh.de<br>
Internet: www.wfh.de

<br><br>

Sitz: Mosbach
<br><br>
Registergericht: Amtsgericht Stuttgart, HRA 730855
<br><br>
Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: DE 12345678
<br><br>
GmbH
<br><br>
Geschäftsführer: Larissa Koch, Anika Düsterhöft, Alex Muntean, Florian Malek, Simon Schäffer
Sitz: Mosbach
<br><br>
Registergericht: Amtsgericht Stuttgart, HRB 752231

<br><br>
Inhaltlich Verantwortlicher gemäß §55 Abs. 2 RStV: Annika Düsterhöft (Anschrift siehe oben)
<br><br>

Hinweis gemäß §36 Abs.1 Nr.1 des Verbraucherstreitbeilegungsgesetzes (VSBG):<br>
Wir sind nicht zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle verpflichtet oder nehmen daran teil.
</p>
<br><br>

<p class="head_impressum">Datenschutz</p>
<P>
  § 1 Information über die Erhebung personenbezogener Daten<br>
(1) Im Folgenden informieren wir über die Erhebung personenbezogener Daten bei Nutzung unserer Website. Personenbezogene Daten sind alle Daten, die auf Sie persönlich beziehbar sind, z. B. Name, Adresse, E-Mail-Adressen, Nutzerverhalten.
<br>
<br>
(2) Verantwortlicher gemäß Artikel 4 Absatz 7 DS-GVO ist Wohnen für Hilfe GmbH, Oberer Mühlweg 13, 74821 Mosbach, Telefon 0791/ 95 66 22 0 und Fax 0791/ 95 66 22 22, E-Mail: info@wfh.de. Der betriebliche Datenschutzkoordinator Simon Schäffer ist unter der o.g. Anschrift, zu Händen der Abteilung Datenschutz, bzw. unter datenschutzkoordinator@wfh.de erreichbar.
<br>
<br>
(3) Diese Datenschutzerklärung gilt für die Website und die von Wohnen für Hilfe GmbH angebotenen Dienste, nicht aber für andere Internetseiten, die der Benutzer eventuell über Links besucht. Es wird auf die Datenschutzbestimmungen der jeweiligen Rechtsinhaber dieser Webseiten verwiesen. Insbesondere verweisen wir auf die Datenschutzbestimmungen von Google Inc. für die Nutzung des eingebundenen Kartenservice Google Maps und Google Fonts.
<br>
<br>
(4) Datenschutzerklärung für die Nutzung von Facebook-Plugins (Like-Button)
Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, Anbieter Facebook Inc., 1 Hacker Way, Menlo Park, California 94025, USA, integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem „Like-Button" („Gefällt mir") auf unserer Seite. Eine Übersicht über die Facebook-Plugins finden Sie hier: http://developers.facebook.com/docs/plugins/.
Wenn Sie unsere Seiten besuchen, wird über das Plugin eine direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben. Wenn Sie den Facebook „Like-Button" anklicken während Sie in Ihrem Facebook-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf Ihrem Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von Facebook unter http://de-de.facebook.com/policy.php.
Wenn Sie nicht wünschen, dass Facebook den Besuch unserer Seiten Ihrem Facebook- Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
<br>
<br>
(5) Bei Ihrer Kontaktaufnahme mit uns per E-Mail oder über ein Kontaktformular werden die von Ihnen mitgeteilten Daten (Ihre E-Mail-Adresse, ggf. Ihr Name und Ihre Telefonnummer) von uns gespeichert, um Ihre Fragen zu beantworten. Die in diesem Zusammenhang anfallenden Daten löschen wir, nachdem die Speicherung nicht mehr erforderlich ist, oder schränken die Verarbeitung ein, falls gesetzliche Aufbewahrungspflichten bestehen.
<br>
<br><br>
§ 2 Ihre Rechte<br>
(1) Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:<br>
– Recht auf Auskunft,<br>
– Recht auf Berichtigung oder Löschung,<br>
– Recht auf Einschränkung der Verarbeitung,<br>
– Recht auf Widerspruch gegen die Verarbeitung,<br>
– Recht auf Datenübertragbarkeit.<br>
<br>

(2) Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen Daten durch uns zu beschweren: Unter folgendem Link kann die entsprechende Behörde mit Anschrift ausgewählt werden: https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html
<br>
<br>
<br>
§ 3 Erhebung personenbezogener Daten bei Besuch unserer Website<br>
<br>
(1)Bei der bloß informatorischen Nutzung der Website, also wenn Sie sich nicht registrieren oder uns anderweitig Informationen übermitteln, erheben wir nur die personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt. Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden Daten, die für uns technisch erforderlich sind, um Ihnen unsere Website anzuzeigen und die Stabilität und Sicherheit zu gewährleisten. Rechtsgrundlage hierfür ist Artikel 6 Absatz 1 Satz 1 Buchstabe f DS-GVO.<br>
<br>
Es handelt sich hierbei um die folgenden Daten:<br>
– IP-Adresse<br>
– Datum und Uhrzeit der Anfrage<br>
– Zeitzonendifferenz zur Greenwich Mean Time (GMT)<br>
– Inhalt der Anforderung (konkrete Seite)<br>
– Zugriffsstatus/HTTP-Statuscode<br>
– jeweils übertragene Datenmenge<br>
– Website, von der die Anforderung kommt<br>
– Browser<br>
– Betriebssystem und dessen Oberfläche<br>
– Sprache und Version der Browsersoftware.<br>
<br>

(2)Zusätzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung unserer Website Cookies auf Ihrem Rechner gespeichert. Bei Cookies handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem von Ihnen verwendeten Browser zugeordnet gespeichert werden und durch welche der entsprechenden Stelle, die den Cookie setzt (hier durch uns), bestimmte Informationen zufließen. Cookies können keine Programme ausführen oder Viren auf Ihren Computer übertragen. Sie dienen dazu, das Internetangebot insgesamt nutzerfreundlicher und effektiver zu machen.<br>
<br>

(3) Einsatz von Cookies:<br>
<br>

a) Diese Website nutzt folgende Arten von Cookies, deren Umfang und Funktionsweise im Folgenden erläutert werden:<br>
<br>
– Transiente Cookies (dazu b)<br>
PHPSESSID - Session-Cookie - Wird nach dem beenden wieder gelöscht.<br>
PIWIK_SESSID - Matomo Session-Cookie - Wird nach dem beenden wieder gelöscht.<br>
– Persistente Cookies (dazu c).<br>
cookieconsent_status - Antwort des Cookie-Hinweis - Wird nach einem Jahr gelöscht.<br>
<br>


b) Transiente Cookies werden automatisiert gelöscht, wenn Sie den Browser schließen. Dazu zählen insbesondere die Session-Cookies. Diese speichern eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner wiedererkannt werden, wenn Sie auf unsere Website zurückkehren. Die Session-Cookies werden gelöscht, wenn Sie sich ausloggen oder den Browser schließen.
<br>
<br>
c) Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer gelöscht, die sich je nach Cookie unterscheiden kann. Sie können die Cookies in den Sicherheitseinstellungen Ihres Browsers jederzeit löschen.
<br>
<br>
d) Sie können Ihre Browser-Einstellung entsprechend Ihren Wünschen konfigurieren und z. B. die Annahme von Third-Party-Cookies oder allen Cookies ablehnen. Wir weisen Sie darauf hin, dass Sie eventuell nicht alle Funktionen dieser Website nutzen können.
<br>
<br>
e) Wir setzen Cookies ein, um Sie für Folgebesuche identifizieren zu können, falls Sie über einen Account bei uns verfügen. Andernfalls müssten Sie sich für jeden Besuch erneut einloggen.
<br>
<br>
f) Diese Website benutzt den Open Source Webanalysedienst Matomo. Matomo verwendet so genannte "Cookies". Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Dazu werden die durch den Cookie erzeugten Informationen über die Benutzung dieser Website auf unserem Server gespeichert. Die IP-Adresse wird vor der Speicherung anonymisiert.
Die durch den Cookie erzeugten Informationen über die Benutzung dieser Website werden nicht an Dritte weitergegeben. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können.
Wenn Sie mit der Speicherung und Nutzung Ihrer Daten nicht einverstanden sind, können Sie die Speicherung und Nutzung hier deaktivieren. In diesem Fall wird in Ihrem Browser ein Opt-Out-Cookie hinterlegt, der verhindert, dass Matomo Nutzungsdaten speichert. Wenn Sie Ihre Cookies löschen, hat dies zur Folge, dass auch das Matomo Opt-Out-Cookie gelöscht wird. Das Opt-Out muss bei einem erneuten Besuch unserer Seite wieder aktiviert werden.
<br>
<br>
§ 4 Widerspruch oder Widerruf gegen die Verarbeitung Ihrer Daten<br>
(1) Falls Sie eine Einwilligung zur Verarbeitung Ihrer Daten erteilt haben, können Sie diese jederzeit widerrufen. Ein solcher Widerruf beeinflusst die Zulässigkeit der Verarbeitung Ihrer personenbezogenen Daten, nachdem Sie ihn gegenüber uns ausgesprochen haben. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
<br>
<br>
(2) Soweit wir die Verarbeitung Ihrer personenbezogenen Daten auf die Interessenabwägung stützen, können Sie Widerspruch gegen die Verarbeitung einlegen. Dies ist der Fall, wenn die Verarbeitung insbesondere nicht zur Erfüllung eines Vertrags mit Ihnen erforderlich ist, was von uns jeweils bei der nachfolgenden Beschreibung der Funktionen dargestellt wird. Bei Ausübung eines solchen Widerspruchs bitten wir um Darlegung der Gründe, weshalb wir Ihre personenbezogenen Daten nicht wie von uns durchgeführt verarbeiten sollten. Im Falle Ihres begründeten Widerspruchs prüfen wir die Sachlage und werden entweder die Datenverarbeitung einstellen bzw. anpassen oder Ihnen unsere zwingenden schutzwürdigen Gründe aufzeigen, aufgrund derer wir die Verarbeitung fortführen.
<br>
<br>
(3) Selbstverständlich können Sie der Verarbeitung Ihrer personenbezogenen Daten für Zwecke der Werbung und Datenanalyse jederzeit widersprechen. Über Ihren Werbewiderspruch können Sie uns unter folgenden Kontaktdaten informieren: datenschutzkoordinator@wfh.de oder postalisch an Wohnen für Hilfe GmbH, Oberer Mühlweg 13, 74821 Mosbach, Abt. Datenschutz
<br>
<br>
§ 5 Informationspflichten<br>
Gemäß Art. 13 und 14 verweisen wir auf unsere Informationspflichten. Diese erhalten Sie gern auf Anfrage. Ihre Anfrage senden Sie bitte an datenschutzkoordinator@wfh.de.
</p>
</div>
