<div class="formulare container">
    <div class="row center" style="margin-top: 2%">
        <span class="form-headline">Registrieren</span>
    </div>
</div>
<div class="registerformular formularelement animated fadeIn col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <form action="dropzoneBackend.php" method="post" enctype="multipart/form-data" class="dropzone editdropzone" id="dropzoneFileUpload">
    </form>
<form id="userregistrierung" method="POST">
    <div class="form-group">
        <input class="form-control eingabefeld" id="name" name="name" placeholder="Vorname*" >
    </div>
    <div class="form-group">
        <input class="form-control eingabefeld" id="nachname" name="nachname" placeholder="Nachname*" >
    </div>
    <div class="form-group">
        <select class="form-control eingabefeld" id="geschlecht" name="geschlecht" placeholder="Geschlecht*" >
            <option value="" disabled selected>Geschlecht auswählen*</option>
            <option value="maennlich">Männlich</option>
            <option value="weiblich">Weiblich</option>
        </select>
    </div>
    <div class="form-group">
        <textarea class="form-control userbeschreibung eingabefeld" name="beschreibung" id="beschreibung" rows="4" placeholder="Mehr über Sie"></textarea>
    </div>

    <div class="form-group">
        <input class="form-control eingabefeld" id="mail" name="mail" placeholder="E-Mail Adresse*" >
    </div>

    <div class="form-group">
        <input class="form-control eingabefeld" type="password" id="passwort" name="passwort" placeholder="Passwort*" >
        <input class="form-control eingabefeld" type="password" style="margin-top:5px;" id="pwrepeat" name="pwrepeat" placeholder="Passwort wiederholen*">
    </div>
    <div class="form-group datenschutzbestimmung">
        Hiermit bestätige ich unsere <a> Datenschutzrichtlinien</a>.<input type="checkbox" name="datenschutz" id="datenschutz">
    </div>
    <!-- <div class="form-group">
         <input class="form-control eingabefeld" id="titel" name="" placeholder="Bild" >
     </div>
     -->
    <div class="submitbuttoncontainer">
         <button type="submit" class="btn submitbutton">Registrieren!</button>
     </div>
 </form>
 </div>