<div id="messageDetailViewHeader">
    <img id="backButton" onclick="application.navigateTo('postfach')" class="icon" src="./icons/close.svg">

    <img id="adressatDetailBild" src="./uploads/{{other.bild}} " alt="Profilbild">

    <p id="adressatName" class="ak-Detail">{{other.name}} {{other.nachname}}</p>
    <!-- <img id="moreOptionsButton" class="icon" src="./icons/Mehr Optionen.svg"> -->
</div>
<div id="gradientBelowHeader"></div>

<div id="messageWrapper" class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

</div>

<div id="messageInputContainer">
    <div id="messageInputFlexBox" class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <textarea rows="1" id="messageInputField" class="form-control eingabefeld"></textarea>
        <div id="sendMessageButton" onclick='application.schaetController.sendMessage()'>
            <img src="./icons/send.svg">
        </div>
    </div>
</div>
