{{#each nachricht}}
<div class="nachrichtPreview" onclick="application.navigateTo('messageDetailView_{{chat.id}}')">
    <div style="{{this.chat.gelesen}}width:10px;" class="gelesenIndikator"></div>
    <div class="adressatBild">
        <img src="./uploads/{{other.bild}}" alt="Profilbild">
    </div>
    <div class="nachrichtInfos">
        <p style="{{chat.gelesen}}">
            <strong>
                <u>{{chat.angebot_headline}}</u>
            </strong>
            <br>
            <i>{{other.name}} {{other.nachname}}</i>
        </p>
        <p style="{{chat.antiGelesen}}">
            <u>{{chat.angebot_headline}}</u>
            </strong>
            <br>
            <i>{{other.name}} {{other.nachname}}</i>
        </p>
    </div>
</div>
{{/each}}
