{{#each user}}

<div class="angebotsKarte maxwidth animated fadeIn">
    <div class="ak-Detail row">
        <div class="ak-Detail-HL" style="padding-left:0px !important; padding-right:0px !important;">
            <p>Mein Profil</p>
        </div>
        <div class="ak-Icons">
            <div class="ak-dreipunkt"></div>
            <div class="ak-X" onclick="application.navigateTo('alleAngebote')">
                <p><img src="./icons/x.svg"></p>
            </div>
        </div>
    </div>
    <div class="ak-container">
        <div class="anbietercontainer">
            <div class="profilUserBild">
                <img src="uploads/{{bild}}">
            </div>
            <div class="profilUserInformation">
                <span>{{name}} {{nachname}} {{#js_if "this.geschlecht == 'm'"}}<img class="geschlechticon" src="./icons/maennlich.svg"> {{/#js_if}}{{#js_if "this.geschlecht == 'w'"}}<img class="geschlechticon" src="./icons/weiblich.svg">{{/js_if}}<br></span>
                <i>{{beschreibung}}</i>

            </div>
        </div>
        <div class="eigeneAngebote">
            {{#js_if "this.angebote != 0 || this.gesuche != 0"}}
            {{#js_if "this.@first"}} <p class="gesuchAuswahl"> Eigene Angebote </p> {{/js_if}}
            {{#angebote}}
            <div class="profilangebote">
                <!-- MOBILE VIEW -->
                <div id="offer_{{id}}"  class="inseratPV container text-center mobile">
                    <div class="row" id="viewPortCheck_{{id}}"onclick='application.navigateTo("houseDetailView_{{id}}")' style="padding-left:10px !important; padding-right: 10px !important;">
        <span class="rowtitle">
          {{titel}}
        </span>
                    </div>
                    <div class="row" onclick='application.navigateTo("houseDetailView_{{id}}")'>
                        <img class="maxsize objectcover" src="./uploads/{{head_bild}}" alt="houseimg">
                    </div>
                    <div class="row mtop" onclick='application.navigateTo("houseDetailView_{{id}}")'>
                        <div class="leftcolumn">
                            <p>
                                Wohnfl&auml;che: </br>
                                {{groesse}} m²
                            </p>
                        </div>
                        <div class="rightcolumn">
                            <p>
                                Verf&uuml;gbar ab: </br>
                                {{von}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <span class="bottomborder"></span>
                    </div>
                    <div class="row" onclick='application.navigateTo("houseDetailView_{{id}}")'>
                        <div class="leftcolumn">
                            <div class="leftalign"><p>
                                Ort: <br>
                                {{ort}}
                            </p>
                            </div>
                        </div>
                        <div class="rightcolumn" >
                            <p>
                                Aufgaben: <br>
                                {{#each aufgaben}} {{#js_if "@index < 2" }} <span>&nbsp;{{this}}, </span>{{/js_if}}{{#js_if "@last"}}...{{/js_if}} {{/each}}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <span class="bottomborder"></span>
                    </div>
                    <div class="row">
                        <div class="merken" onclick="application.loeschenController.loescheElement('angebot', {{id}}, application)">
                            <img src="./icons/bin.svg">
                        </div>
                        <div class="preis">
                            <span>{{preis}}</span> €
                        </div>
                    </div>
                </div>
                <!-- DESKTOP VIEW -->
                <div id="offer_{{id}}"  class="col-md-12 col-lg-12 col-sm-12 inseratPV profilpreview text-center desktop animated fadeIn" style="float:none !important;">

                    <div class="row" id="viewPortCheck_{{id}}">
                        <div class="col-md-4 col-sm-4 col-xs-4 nopad" onclick='application.navigateTo("houseDetailView_{{id}}")'>
                            <img class="maxsize objectcover" src="./uploads/{{head_bild}}" alt="houseimg">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 nopad jobdetails" >
                            <div class="rowtitle">
                                <span>{{titel}}</span>
                            </div>

                            <div class="jobinfotext profiljobinfos">
                                <div class="nichtaufgabeninfos" style="margin-top:10px;">
                                    <p style="margin-bottom:0px !important">
                                        Wohnfl&auml;che: <span>{{groesse}} m²</span> </br>

                                        Verf&uuml;gbar ab: <span>{{von}}</span> </br>

                                        Ort: <span>{{ort}}</span> </br>
                                    </p>
                                </div>


                            </div>

                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 nopad">
                            <div class="iconcontainer" onclick="application.loeschenController.loescheElement('angebot', {{id}}, application)">
                                <img class="favoriticon" src="./icons/bin.svg">
                            </div>
                            <div class="preis">
                                <span>{{preis}}</span> €
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/angebote}}
            {{#gesuche}}
            <div class="profilgesuche">
                <!-- MOBILE VIEW -->
                <div id="offer_{{id}}" class="inseratPV container text-center mobile" style="padding-left:0px !important; padding-right:0px !important;">
                    <div class="row" id="viewPortCheck_{{id}}"  onclick='application.navigateTo("helpDetailView_{{id}}")' style="padding-left:10px !important; padding-right: 10px !important;">
        <span class="rowtitle">
          {{titel}}
        </span>
                    </div>
                    <div id='overviewuserspace_{{id}}'  onclick='application.navigateTo("helpDetailView_{{id}}")' class="row userBackground" style="margin-left:0px !important; margin-right:0px !important;">
                        <div class="userProfilbild">
                            <img src="uploads/{{user.bild}}" alt="Profilbild">
                        </div>
                        <div class="userName">
                            <span class="userNameElement">{{user.name}} {{user.nachname}}</span>
                        </div>

                    </div>
                    <div class="row mtop"  onclick='application.navigateTo("helpDetailView_{{id}}")' style="padding-left:15px !important; padding-right:15px !important;">
                        <div class="leftcolumn" style="padding-left:15px;">
                            <p>
                                Ort: <br>
                                {{ort}} {{#js_if "this.umkreis > 0"}}+ {{umkreis}}km{{/js_if}}
                            </p>
                        </div>
                        <div class="rightcolumn" style="padding-right: 15px;">
                            <p>
                                Verf&uuml;gbar ab: </br>
                                {{von}}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <span class="bottomborder"></span>
                    </div>
                    <div class="row"  onclick='application.navigateTo("helpDetailView_{{id}}")' style="padding-left:15px !important; padding-right:15px !important;">
                        <div class="leftcolumn" style="padding-left: 15px;">
                            <div class="leftalign">
                                <p>
                                    Fähigkeiten: <br>
                                    {{#each aufgaben}} {{#js_if "@index < 2" }} <span>&nbsp;{{this}}, </span>{{/js_if}}{{#js_if "@last"}}...{{/js_if}} {{/each}}
                                </p>
                            </div>
                        </div>
                        <div class="rightcolumn" style="padding-right: 15px;">
                            <p>
                                Maximale Arbeitsstunden: <br>
                                {{arbeitsstunden}} pro Woche
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <span class="bottomborder"></span>
                    </div>
                    <div class="row">
                        <div class="merken" onclick="application.loeschenController.loescheElement('gesuch', {{id}}, application)">
                            <img src="./icons/bin.svg">
                        </div>
                        <div class="preis">
                            Maximale Miete: <span>{{preis}}</span> €
                        </div>
                    </div>
                </div>
                <!-- DESKTOP VIEW -->
                <div id="offer_{{id}}" class="col-md-12 col-lg-12 col-sm-12 inseratPV profilpreview text-center desktop  animated fadeIn" style="float:none !important;">

                    <div class="row" id="viewPortCheck_{{id}}">
                        <div class="col-md-4 col-sm-4 col-xs-4 nopad">
                            <img class="maxsize objectcover" src="uploads/{{user.bild}}" alt="houseimg">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 nopad jobdetails"  onclick='application.navigateTo("helpDetailView_{{id}}")'>
                            <div class="rowtitle">
                                <span>{{titel}}</span>
                            </div>

                            <div class="jobinfotext  profiljobinfos">
                                <div class="nichtaufgabeninfos" style="margin-top:10px;">
                                    <p style="margin-bottom:0px !important">
                                        Ort: <span> {{ort}} {{#js_if "this.umkreis > 0"}}+ {{umkreis}}km{{/js_if}}</span><br>

                                        Maximale Arbeitsstunden: <span>{{arbeitsstunden}}</span> <br>

                                        Verf&uuml;gbar ab: <span>{{von}}</span>
                                    </p>
                                </div>


                            </div>

                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 nopad">
                            <div class="iconcontainer" onclick="application.loeschenController.loescheElement('gesuch', {{id}}, application)">
                                <img class="favoriticon" src="./icons/bin.svg">
                            </div>
                            <div class="preis">
                                Max.<br> <span>{{preis}}</span> €
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/gesuche}}
            {{else}}
            <p>Keine Angebote erstellt</p>
            {{/js_if}}
        </div>

    </div>
</div>
{{/each}}
<div id="addButton" class="animated bounceInUp" onmousedown="application.navigateTo('angebotErstellen')">
    <img src="./icons/plus.svg">
</div>