
<div class=" maxwidth">
    <div class="ak-Detail row">
        <div class="ak-Detail-HL" style="padding-left:0px !important; padding-right:0px !important;">
            <p>Postfach</p>
        </div>
        <div class="ak-Icons">
            <div class="ak-dreipunkt"></div>
            <div class="ak-X" onclick="application.navigateTo('alleAngebote')">
                <p><img src="./icons/x.svg"></p>
            </div>
        </div>
    </div>

    <div class="postfachContainer" style="padding-left:0px !important; padding-right:0px !important;">
    </div>
</div>
