{{#each inserat}}
<div class="angebotsKarte maxwidth animated fadeIn">
    <div class="ak-Detail row">
        <div class="ak-Detail-HL" style="padding-left:0px !important; padding-right:0px !important;">
            <p>Gesuch im Detail</p>
        </div>
        <div class="ak-Icons">
            <div class="ak-dreipunkt"></div>
            <div class="ak-X" onclick="application.navigateTo('alleGesuche')">
                <p>
                    <img src="./icons/x.svg">
                </p>
            </div>
        </div>
    </div>

    <div class="ak-container" style="padding-left:0px !important; padding-right:0px !important;">
        <div class="ak-FirstHeadline row">{{titel}}</div>

        <div class="ak-gesuch-images row" style="margin-left:0px !Important; margin-right:0px !important;">
            <img src="uploads/{{user.bild}}" alt="profilbild">
        </div>
        <div class="row favoriterow">
            <img alt="merken">
        </div>
        <div class="ak-maininfos row">
            <div class="ak-wohnflaeche">
                <span class="ak-numberscale">{{arbeitsstunden}} Std. </span>
                <br> pro Woche verfügbar</div>
            <div class="ak-wohnflaeche">
                <span class="ak-numberscale"> {{preis}} &euro;</span>
                <br> Maximaler Mietpreis</div>
        </div>

        <div class="ak-infocontainer">

            <div class="ak-mietarverfügbarab">
                <strong>Bevorzugte Mietart:</strong> {{mietart}}
                <br>
                <strong>Verfügbar ab:</strong> {{von}}
            </div>
            <div class="ak-anbieter">
                <div class="ak-headline">
                    <span>Anbieter</span>
                </div>
                <div class="ak-elements">
                    <strong>Name: </strong> {{user.name}} {{user.nachname}}
                    <br>
                    <strong>E-Mail: </strong>{{user.mail}}
                    <br>
                    <strong>Beschreibung: </strong> {{user.beschreibung}}
                    <br> {{#js_if "this.user.geschlecht == 'm'"}}
                    <strong> Geschlecht:</strong> Männlich
                    <img class="geschlechticon" src="./icons/maennlich.svg"> {{/#js_if}}{{#js_if "this.user.geschlecht == 'w'"}}
                    <strong> Geschlecht:</strong> Weiblich
                    <img class="geschlechticon" src="./icons/weiblich.svg">{{/js_if}}

                </div>
                <div class="ak-elements">
                    <strong>Zusätzliche Informationen: </strong>
                    <br>{{sonstiges}}
                </div>
            </div>
            <div class="ak-aufgaben">
                <div class="ak-headline">
                    <span>Aufgaben</span>
                </div>
                <div class="ak-elements">
                    {{#each aufgaben}}
                    <p> &#8226; {{this}}</p>
                    {{/each}}
                </div>
            </div>
            <div class="ak-lage">
                <div class="ak-headline">
                    <span>Gewünschte Lage</span>
                </div>
                <div class="ak-elements">
                    <p>{{plz}} - {{ort}}</p>
                    <p>Im Umkreis von: {{umkreis}}km</p>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>
<div style="padding-bottom: 30px;">
        <div class="Pillenbutton" onclick='application.postfachController.createChat({{user.id}},{{id}},"{{titel}}","angebot_suche")' style="
    margin: auto;
    width: 280px;
    ">
            <p>Anfrage senden</p>
        </div>
    </div>
{{/each}}
