{{#each inserat}}
<div class="angebotsKarte maxwidth animated fadeIn">
    <div class="ak-Detail row">
        <div class="ak-Detail-HL" style="padding-left:0px !important; padding-right:0px !important;">
            <p>Angebot im Detail</p>
        </div>
        <div class="ak-Icons">
            <div class="ak-dreipunkt"></div>
            <div class="ak-X" onclick="application.navigateTo('alleAngebote')">
                <p><img src="./icons/x.svg"></p>
            </div>
        </div>
    </div>

    <div class="ak-container" style="padding-left:0px !important; padding-right:0px !important;">
        <div class="ak-FirstHeadline row">{{titel}}</div>

        <div class="ak-images row" style="margin-left:0px !Important; margin-right:0px !important;">
            <div id="myCarousel" class="carousel slide" style="border:none !important;"data-ride="carousel" onmouseover="">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {{#bilder}}
                    {{#js_if "@first && @last"}}{{else}}
                    <li data-target="#myCarousel" data-slide-to="{{@key}}"></li>
                    {{/js_if}}{{/bilder}}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" >
                {{#bilder}}
                    <div class="item  {{#js_if '@index == 0'}} active {{/js_if}}" id="bilditem{{@key}}">
                        <img src="./uploads/{{this}}" id="bild"  alt="{{this}}" style="border-color:white !important;">
                    </div>
                {{/bilder}}


                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" style="color:#8ab454 !important; background-image:none !important;" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" style="color:#8ab454 !important; background-image:none !important;" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="row favoriterow">
            <img alt="merken">
        </div>
        <div class="ak-maininfos row" >
            <div class="ak-wohnflaeche"><span class="ak-numberscale">{{groesse}} m² </span> <br> Wohnfläche</div>
            <div class="ak-wohnflaeche"><span class="ak-numberscale">{{preis}} &euro;</span> <br> Mietpreis</div>
        </div>
        <div class="ak-infocontainer">
        <div class="ak-mietarverfügbarab">
            <strong>Mietart:</strong> {{mietart}}<br>
            <strong>Verfügbar ab:</strong> {{von}}
        </div>
        <div class="ak-ausstattung">
            <div class="ak-headline">
                <span>Ausstattung</span>
            </div>
            <div class="ak-ausstattung-elements">
                {{#ausstattung}}
                {{#js_if "this == 'WLAN'"}}
                    <div class="ak-ausstattung-element">
                        <img src="./icons/wlan.svg">
                        <p>WLAN</p>
                    </div>
                {{/js_if}}
                {{#js_if "this == 'Tiere erlaubt'"}}
                    <div class="ak-ausstattung-element">
                        <img src="./icons/tiere erlaubt.svg">
                        <p>Tiere erlaubt</p>
                    </div>
                {{/js_if}}
                {{#js_if "this == 'Eigenes Bad'"}}
                <div class="ak-ausstattung-element">
                    <img src="./icons/bad.svg">
                    <p>Eigenes Bad</p>
                </div>
                {{/js_if}}
                {{#js_if "this == 'Balkon'"}}
                <div class="ak-ausstattung-element">
                    <img src="./icons/balkon.svg">
                    <p>Balkon</p>
                </div>
                {{/js_if}}
                {{#js_if "this == 'Spülmaschine'"}}
                <div class="ak-ausstattung-element">
                    <img src="./icons/geschirrspueler.svg">
                    <p>Spülmaschine</p>
                </div>
                {{/js_if}}
                {{#js_if "this == 'Stellplatz'"}}
                <div class="ak-ausstattung-element">
                    <img src="./icons/stellplatz.svg">
                    <p>Stellplatz</p>
                </div>
                {{/js_if}}
                {{#js_if "this == 'Möbel'"}}
                <div class="ak-ausstattung-element">
                    <img src="./icons/moebel.svg">
                    <p>Möbel</p>
                </div>
                {{/js_if}}
                {{#js_if "this == 'Waschmaschine'"}}
                <div class="ak-ausstattung-element">
                    <img src="./icons/waschmaschine.svg">
                    <p>Waschmaschine</p>
                </div>
                {{/js_if}}
                {{#js_if "this == 'Eigene Küche'"}}
                <div class="ak-ausstattung-element">
                    <img src="./icons/kueche.svg">
                    <p>Eigene Küche</p>
                </div>
                {{/js_if}}
                {{#js_if "this == 'Terasse'"}}
                <div class="ak-ausstattung-element">
                    <img src="./icons/garten.svg">
                    <p>Terasse</p>
                </div>
                {{/js_if}}
            {{/ausstattung}}
            </div>

        </div>
        <div class="ak-aufgaben">
            <div class="ak-headline">
                <span>Aufgaben</span>
            </div>
            <div class="ak-elements">
                {{#each aufgaben}}
                <p> &#8226; {{this}}</p>
                {{/each}}
            </div>
        </div>
        <div class="ak-lage">
            <div class="ak-headline">
                <span>Lage</span>
            </div>
            <div class="ak-elements">
                <p>{{wohnungsart}} in:</p>
                <p>{{plz}} - {{ort}}</p>
                <p>{{lage}}</p><br>
                <p>{{sonstiges}}</p>
            </div>
        </div>
        <div class="ak-anbieter">
            <div class="ak-headline">
                <span>Anbieter</span>
            </div>
            <div class="ak-elements anbietercontainer">
                <div class="jobUserBild">
                    <img src="uploads/{{user.bild}}">
                </div>
                <div class="jobUserInformation">
                    <strong>Name: </strong> {{user.name}} {{user.nachname}} <br>
                    <strong>E-Mail: </strong>{{user.mail}} <br>
                    <strong>Beschreibung: </strong> {{user.beschreibung}}
                    {{#js_if "this.user.geschlecht == 'm'"}}<br><strong> Geschlecht:</strong> Männlich <img class="geschlechticon" src="./icons/maennlich.svg"> {{/#js_if}}{{#js_if "this.user.geschlecht == 'w'"}}<br><strong> Geschlecht:</strong> Weiblich <img class="geschlechticon" src="./icons/weiblich.svg">{{/js_if}}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div style="padding-bottom: 30px;">
        <div class="Pillenbutton" onclick='application.postfachController.createChat({{user.id}},{{id}},"{{titel}}","angebot_biete")' style="
    margin: auto;
    width: 280px;
    ">
            <p>Anfrage senden</p>
        </div>
    </div>
{{/each}}

